@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html , body{
  height: 100%;
  width: 100%;
}

html{
  font-size: 100%;
}


nav{
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 16rem;
  position: sticky;
  top: 0;
  background-color: white;
}

nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

nav ul li{
  margin: 0 10px;
}
nav ul  li a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.burger{
  display: none;
}

.heading{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.heading img{
  position: relative;
  width: 70%;
  height: 20rem;
  border-radius: 20px;
  object-fit: cover;
}

.branding{
  font-size: 1.6rem;
  position: absolute;
  left:20%;
  top:6.5%;
  margin-top: 4rem;
  color: white;
}

.branding p:first-child{
  color: #DC582A;
  margin-bottom: 0.2rem;
}

.branding h3{
  font-size: 3rem;
  line-height: 4.5rem;
}
.branding p:last-child{
  font-size: 1.2rem;
}

.main{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search{
  width: 70%;
}

.search h3{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.search-bar{
  display: flex;
  width: 100%;
}
.search-bar div:first-child{
  width: calc(100% - 5rem);
}
.search-bar input {
  height: 4rem;
  width: 100%;
  background-color: #F3F3F3;
  border: none;
  font-size: 1.2rem;
  padding: 0 1rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: inline-block; 
}

.search-btn {
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 4rem;
  width: 5rem;
  background-color: #509E2F;

  border: none;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
} 

#buttons {
  display: flex;
  width: 70%;
  margin-top: 1.5rem; 
}

.btn {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 18rem;
  height: 5rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin-right: 1rem;
  border-radius: 10px;
  border: none;
  background-color:#EAAA00;
  color: white;
}

#buttons img {
  margin-left: 0.5rem; /* Add some margin between button text and the image */
}
.veg{
  background-color: #C4D600;
}
.non-veg{
  background-color:#DC582A;
}

.cards-and-filter{
  display: flex;
  width: 70%;
  margin-top: 2rem;
}
.fiilter{
  width: 20%;
  padding: 2rem;
}

.fiilter h4{
  font-size: 2rem;
  margin-bottom: 3rem;
}
.fiilter h5{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}


label{
  font-size: 1.2rem;
}

.cards{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.card{
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img{
  border-radius: 0.4rem;
  height: 12rem;
  object-fit: cover;
}

.card-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info p{
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #A1A1A1;
}
.food-name, .time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.food-name h4{
  font-size: 1.3rem;
}

.rating{
  display: flex;
  align-items: center ;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem !important;
  color: #A1A1A1;
}
.rating img{
  margin-right: 0.5rem;
  height: 65%; 
}

.time p{
  font-size: 1rem !important;
  color: #DC582A;
}

.time div{
  display: flex;
  align-items: center ;
}

.time div img{
  margin-right: 0.5rem;
  height: 65%; 
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.top, .bottom{
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.bottom{
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 10%;
}

.logo-footer{
  margin-bottom: 1.5rem;
}
.top div:first-child{
  width: 25%;
  font-size: 1rem;
}

.links{
  width: 15%;
  font-size: 1.2rem;
}
.links h4{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.links ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.links ul li{
  margin-bottom: 0.4rem;
}

.email{
  width: 25%; 
}

.subscribe{
  width: 100% ;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.subscribe input{
  height: 3rem;
  width: 70%;
  font-size: 1rem;
  padding-left: 0.5rem;
  border-radius: 1px;
  border-radius: 4px;
}

.subscribe button{
  width: 25%;
  height: 3rem;
  font-size: 1rem;
  vertical-align: top;
  background: #509E2F;
  color: white;
  border: none;
  border-radius: 8px;
  margin-left: 0.8rem;
}

